<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <a href="authorize">获取 code</a>
  <a href="access.token">获取 access.token</a>
  <a href="refresh.token">获取 refresh.token</a>
  <a href="del.machine.auth">解除终端授权</a>
  <a href="menu.create">添加菜单</a>
  <a href="machine.shatdown">关机</a>
  <a href="machine.restart">重启</a>
  <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.js?v=2.18.12'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>
